
@use "@material/checkbox";
@use "@material/icon-button";
@use "@material/data-table/data-table";

@include checkbox.core-styles;
@include icon-button.core-styles;
@include data-table.core-styles;
@include data-table.theme-baseline;


.jumbotron {
    padding: 1rem;
    margin-bottom: 2rem;

}

#banner{
    background-color: #e9ecef;
}

#shopLogo{
    width: 8.5rem;
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
}


#timeDiv{
    text-align: right;
    padding-right: 1rem;
    padding-top: 1rem;
    font-weight: 500;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 1rem 1.25rem;
    border-color: white;
}

.list-group{
    border-right: 2px solid rgba(0, 0, 0, 0.281);
    border-radius: 0px !important;
    height: 50vh;
}

#footer {
    bottom: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.281);
    width: auto;
    margin: auto;
}



