.jumbotron {
    padding: 1rem;
    margin-bottom: 2rem;

}

#banner{
    background-color: #e9ecef;
}

#shopLogo{
    width: 8.5rem;
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
}


#timeDiv{
    text-align: right;
    padding-right: 1rem;
    padding-top: 1rem;
    font-weight: 500;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 1rem 1.25rem;
    border-color: white;
}

.list-group{
    height: 60vh;
}

.list-group-item.active{
    border-radius: 0px 10px 10px 0px;
    font-weight: 500;
    font-size: 20px;
    transition: 0.3s ease;
}

#footer {
    width: auto;
    margin: auto;
}

.shadow{
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: #fff;
	padding: 30px;
	width: 100%;
	max-width: 450px;
	position: relative;
	padding: 10px;
	-webkit-box-shadow: 5px 20px 20px 4px rgba(0,0,0,0.11);
	box-shadow: 5px 20px 20px 4px rgba(0,0,0,0.11);
}


