.jumbotron {
    width: 90% !important;
    padding: 1rem;
    margin-bottom: 2rem;
}

#banner{
    background-color: #e9ecef;
}

#shopLogo{
    width: 8.5rem;
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
}


#timeDiv{
    text-align: right;
    padding-right: 1rem;
    padding-top: 1rem;
    font-weight: 500;
}

#hidden {
    display: none;
    transition: .3s ease;
}

#text {
    transition: .3s ease;
}


.list-group-item {
    position: relative;
    display: block;
    padding: 1rem 1.25rem;
    border-color: white;
}

.list-group{
    height: 60vh;
}

.list-group-item.active{
    border-radius: 0px 10px 10px 0px;
    font-weight: 500;
    font-size: 20px;
    transition: 0.3s ease;
}

#footer {
    width: auto;
    margin: auto;
}


.shadow{
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: #fff;
	padding: 30px;
	width: 100%;
	max-width: 450px;
	position: relative;
	padding: 10px;
	-webkit-box-shadow: 5px 20px 20px 4px rgba(0,0,0,0.11);
	box-shadow: 5px 20px 20px 4px rgba(0,0,0,0.11);
}

.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column; 
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 20px;
}

.progress-bar-vertical {
    width: 20px;
    min-height: 100px;
    margin-right: 20px;
    float: left;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    align-items: flex-end;
    -webkit-align-items: flex-end; /* Safari 7.0+ */
}
  
.progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
}

#wrapper {
    overflow-x: hidden;
    margin-top: 61px;
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
    height: 100%;
    position: fixed;
    z-index: 1032;
    top: 61px;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    -webkit-box-shadow: 5px 20px 20px 4px rgba(0,0,0,0.11);
    box-shadow: 5px 20px 20px 4px rgba(0,0,0,0.11);

  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.99rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
      margin-left: -15rem;
    }
}

.dropdown-menu{
  margin-left: -5rem;
  -webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: #fff;
	-webkit-box-shadow: 5px 20px 20px 4px rgba(0,0,0,0.11);
	box-shadow: 5px 20px 20px 4px rgba(0,0,0,0.11);
}

.orderBill-panel.show-menu {
  opacity: 1;
  transform: scale(1);
}

@media only screen and (min-width: 320px) and (max-width: 667px) {
  .orderBill-panel {
      width: 100% !important;
  }
}

.orderBill-panel {
  width: 600px;
}

.filter-panel,
.orderBill-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40%;
  background: #FFF;
  box-shadow: 0 2px 20px 0 rgba(218, 218, 218, .7);
  z-index: 1111;
  opacity: 0;
  transform: scale(0, 1);
  transform-origin: 100% 0;
  transition: all .5s ease-in-out;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.orderBill-panel .close-button {
  position: absolute;
  top: 30px;
  right: 25px;
  background: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #707070;
}

.orderBill {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background: #FFF;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0);
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.orderBill {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  background: #FFF;
  padding: 5px;
  box-shadow: 0 0 10px 0 rgba(218, 218, 218, .5);
}

.orderBill-panel {
  display: none;
}

.orderBill-panel:target {
  display: block;
}

.MuiDialog-paperWidthSm {
  width: 25rem;
}

.MuiDialogContent-root {
  padding: 0px 5px !important;
}


/* Profile CSS */

.section {
  padding: 100px 0;
  position: relative;
}
.gray-bg {
  background-color: #f5f5f5;
}

/* About Me 
---------------------*/
.about-text h3 {
font-size: 45px;
font-weight: 700;
margin: 0 0 6px;
}
@media (max-width: 767px) {
.about-text h3 {
  font-size: 35px;
}
}
.about-text h6 {
font-weight: 600;
margin-bottom: 15px;
}
@media (max-width: 767px) {
.about-text h6 {
  font-size: 18px;
}
}
.about-text p {
font-size: 18px;
max-width: 450px;
}
.about-text p mark {
font-weight: 600;
color: #20247b;
}

.about-list {
padding-top: 10px;
}
.about-list .media {
padding: 5px 0;
}
.about-list label {
color: #20247b;
font-weight: 600;
width: 88px;
margin: 0;
position: relative;
}
.about-list label:after {
content: "";
position: absolute;
top: 0;
bottom: 0;
right: 11px;
width: 1px;
height: 12px;
background: #20247b;
-moz-transform: rotate(15deg);
-o-transform: rotate(15deg);
-ms-transform: rotate(15deg);
-webkit-transform: rotate(15deg);
transform: rotate(15deg);
margin: auto;
opacity: 0.5;
}
.about-list p {
margin: 0;
font-size: 15px;
}

@media (max-width: 991px) {
.about-avatar {
  margin-top: 30px;
}
}

.about-section .counter {
padding: 22px 20px;
background: #ffffff;
border-radius: 10px;
box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-section .counter .count-data {
margin-top: 10px;
margin-bottom: 10px;
}
.about-section .counter .count {
font-weight: 700;
color: #20247b;
margin: 0 0 5px;
}
.about-section .counter p {
font-weight: 600;
margin: 0;
}
mark {
  background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-color: transparent;
  padding: 0;
  color: currentColor;
}
.theme-color {
  color: #fc5356;
}
.dark-color {
  color: #20247b;
}


/* refill Section MUIDataTable */
.MUIDataTableHeadCell-data-50.MUIDataTableHeadCell-dragCursor-52 {
  text-align: center;
}
.MUIDataTable-tableRoot-4 {
  background-color: #fad7d7;
  outline: none;
}
.MuiTableRow-root {
  background-color: aliceblue;
  color: antiquewhite;
  display: table-row;
  outline: 0;
  vertical-align: middle;
}
.MUIDataTable-responsiveScroll-6 {
  max-height:none !important;
  overflow: auto;
}

.cat{
  padding: 5px;
  margin: 5px;
  font-size: 1rem;
}

.navbar{
  background-color: rgb(251 251 251 / 47%);
  -webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	padding: 30px;
	width: 100%;
	position: relative;
	padding: 10px;
	-webkit-box-shadow: 5px 20px 20px 4px rgba(0,0,0,0.11);
	box-shadow: 5px 20px 20px 4px rgba(0,0,0,0.11);
}

.loginForm{
    background-color: rgb(251 251 251 / 47%);
    border-radius: 10px 10px 10px 10px;
    padding: 30px;
    width: 100%;
    max-width: 550px;
    box-shadow: 5px 20px 20px 4px rgb(0 0 0 / 11%);
    display: block;
    margin-left: auto;
    margin-right: auto;
}